body {
    font-family: Helvetica; 
    border: 0 none;
}

#map {
    display:none; 
    padding: 5px;
}

#terms {
    display: none;
    padding:30px 5%;
    overflow:scroll;
}

.highlighted {
    background:rgb(248, 218, 185);
    padding: 3px;
}

#charts {
    display:none;
    padding:10px;
    overflow: hidden;
}

#dashboard {
    margin: 0px auto;
    width: 96%;
}

.small-font { font-size: 8pt }
.medium-font { font-size: 10pt }
.blue-background { background: rgb(140, 140, 255) }
.white-background { background: #fff; }
.popup {
    border: 2px solid grey;
    background-color:rgb(255,255,255);
    position:absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#panel
{
    padding:0px;
    background-color:rgb(228, 233, 245);
    border:solid 2px grey;
    float: left;
    margin: 0px auto;
    width: 100%; 
    display:block;
}

#loading {
    display:block;
    position:absolute;
    left:50%;
    margin-left:-50px;
    width: 70px;
    padding: 5px 11px 4px 9px;
    top:400px; 
    z-index:50;
    background-color:#fafafa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}

.center {
    margin:0px auto;
}

.control {
    width: 400px;
    height: 30px;
    float: right;
}
.wider {
    width: 1200px;
}

.row {
    style=height:50%;
    float:left;
}